*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.flex-container {
    display: flex;
}

.container.flex-container {
    width: 500px;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: black;
    padding: 50px;
    border-radius: 50px;
}

.display {
    background-color: lightgrey;
    padding-top: calc(15%);
    font-size: 3.5rem;
    text-align: right;
}

.ui.flex-container {
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.ui button {
    width: calc(25% - 10px);
    border-radius: 50px;
    font-size: 3.5rem;
    padding-top: calc(3.125%);
    padding-bottom: calc(3.125%);
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.ui button:first-child {
    width: calc(50% - 10px);
}

.ui button:last-child {
    width: calc(50% - 3px);
}

.ui button.clear,
.ui button.percentage {
    background-color: #9514E6;
}

.ui button.clear:hover,
.ui button.percentage:hover {
    background-color: #8612CF;
} 

.ui button.operator,
.ui button.equals {
    background-color: #e69614;
}

.ui button.operator:hover,
.ui button.equals:hover {
    background-color: #B87710;
}

.ui button.digit,
.ui button.comma {
    background-color: #343434;
    color: #c8cacd;
}

.ui button.digit:hover,
.ui button.comma:hover {
    background-color: #292929;
}